<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>

<body>

    <div id="app">
        <div class="todo-list">
            <h1>To Do: </h1>
            <p> {{ "Total: " + todos.length }}</p>
            <ul>
                <li v-for="{todo, index} in todos" v-bind:class="{ done: todo.isDone }" class="task">
                    <div class="title">{{ todo.name }}</div>
                </li>
            </ul>

            <div class="controls">
                <div class="check" @click="checkTodo(index)">&#x2713;</div>
                <div class="delete" @click="deleteTodo(index)">&#x2715;</div>
            </div>

            <div class="new_task">
                <label for="new_task">Task:</label>
                <input type="text" name="new_task" id="" v-model="new_task_entry" placeholder="Add new item...">
                <button class="save_task" v-on:click="saveNewTodoItem">Add Item</button>
            </div>
        </div>
    </div>

    <script>
        class Todo {
            constructor(name) {
                this.name = name;
                this.isDone = false;
            }
        }
        var todo = new Vue({
            el: "#app",
            data: {
                new_task_entry: '',
                todos: [
                    new Todo("Wake up"),
                    new Todo("Eat breakfast"),
                    new Todo("Go to work")
                ],
                showDone: true

            },
            methods: {
                saveNewTodoItem() {
                    //adaug val. noua in lista
                    this.todos.push(new Todo(this.new_task_entry));
                    //reset la task
                    this.new_task_entry = '';
                },
                checkTodo(index) {
                    this.todos[index].switchDone();
                },
                deleteTodo(index) {
                    this.todos.splice(index, 1);
                }
            }
        })
    </script>

</body>

</html>