<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>

<body>

    <div id="app">
        <div class="todo-list">
            <h1>To Do: </h1>

            <div class="filters">
                <label>{{"Total: " + todos.length}}</label>
            </div>
            <ul>
                <!-- <li v-for="{todo, index} in todos" v-bind:class="{ done: todo.isDone }" class="task">
                    <div class="title">{{ todo.title }}</div>

                    <div class="controls">
                        <div class="check" @click="checkTodo(index)">&#x2713;</div>
                        <div class="delete" @click="deleteTodo(index)">&#x2715;</div>
                    </div>
                </li> -->

                <task v-for="(todo, index) in todos" 
                    :task_title="task_title"
                    v-bind="task_isDone"
                    @click="checkTodo(index)" 
                    @click="deleteTodo(index)">
                    

                </task>

            </ul>

            <div class="new_task">
                Task:
                <input type="text" v-model="task" @keyup.enter="saveTodo" placeholder="Add new item...">
                <div class="save_task"><button v-on:click="saveNewTodo">Add Item</button></div>
            </div>
        </div>
    </div>

    <script>
        Vue.component("task", {
            template: `<li v-for="{todo, index} in todos" v-bind:class="{ done: todo.isDone }" class="task">
                    <div class="title">{{ todo.title }}</div>

                    <div class="controls">
                        <div class="check" @click="checkTodo('checked')" > &#x2713; </div>
                        <div class="delete" @click="deleteTodo('deleted')" > &#x2715; </div>
                    </div>
                </li>`,
            props: [task_title, task_isDone]
        }
        )

        class Todo {
            constructor(name) {
                this.name = name;
                this.isDone = false;
            }
        }
        var app = new Vue({
            el: "#app",
            data: {
                task: '',
                todos: [
                    new Todo("Wake up"),
                    new Todo("Eat breakfast"),
                    new Todo("Go to work")
                ],
                showDone: true

            },
            methods: {
                saveNewTodo() {
                    //adaug val. noua in lista
                    this.todos.push(new Todo(this.task));
                    //reset la task
                    this.task = '';
                },
                checkTodo(index) {
                    this.todos[index].switchDone();
                },
                deleteTodo(index) {
                    this.todos.splice(index, 1);
                }
            }
        })
    </script>

</body>

</html>